/* 
    Document   : base
    Created on : Sep 22, 2012, 7:29:15 PM
    Author     : pixelshaded
    Description:
        Purpose of the stylesheet follows.
*/

@left-padding: 180px;
@right-padding: 180px;

@bluetext: #0087c8;
@darkgreytext: #333333;
@greytext: #666666;
@lightgreytext: #b6b6b6;

root { 
    display: block;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
}

#header
{
    width: 100%;
    
    #info-bar-container
    {
        background-color: #002133;
        padding: 12px @right-padding 12px @left-padding;
    }
    #info-bar
    {
        position: relative;
    }    
    #namebar
    {
        p
        {
            color: @bluetext;
            margin: 0;
            padding: 0;
            font-size: 40px;
            font-weight: 900;
            line-height: 90%;
            text-transform: uppercase;
        }
        p:last-child
        {
            font-size: 16px;
            font-weight: 400;
            line-height: 136%;
        }
    }    
    #socialbar
    {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    #navbar-container
    {
        background-color: #9f9f9f;
        font-size: 16px;
        padding: 0 @right-padding 0 @left-padding;
    }
    #navbar
    {
        ul
        {
            margin: 0;
            padding: 0;
        }
        li
        {
            display: inline-block;
            line-height: 45px;
            padding-right: 40px;
            position: relative;
            
            ul
            {                
                display: none;
                position: absolute;
                background-color: #9f9f9f;
                padding-left: 20px;
                left: -20px;
                border: 1px solid #666666;
                border-top: 0;
                
                li
                {
                    display: block;
                }
            }
        }
        li:hover > ul
        {
            display: block;
        }
        a:link
        {
            color: @darkgreytext;
            text-decoration: none;
        }
        a:visited
        {
            color: @darkgreytext;
            text-decoration: none;
        }
        a:hover
        {
            color: @darkgreytext;
            font-weight: normal;
            text-decoration: underline;
        }
        a:active
        {
            color: @darkgreytext;
            text-decoration: none;
        }
    }
}

#wrapper
{
    padding: 0 170px 0 170px;
    
    #content
    {
        .content-wrapper
        {
            padding: 0px 10px 0 10px;
        }
    
        #category 
        {
    
            padding: 0 10px 0 10px;

            h1, h2
            {
                text-transform: uppercase;
                color: @bluetext;
            }

            h1
            {
                font-size: 100px;
                line-height: 130%;
                margin: 0 0 -20px 0; 
            }

            h2
            {
                font-size: 20px;
                font-weight: normal;
                margin: 0;
            }

            p
            {
                color: #4d4d4d;
                line-height: 170%;
                padding: 30px 0 30px 0;
                margin: 0; 
            }
        }
    
        #project
        {
            padding: 0 10px 0 10px;
        }
        
        #login-wrapper, #register-wrapper
        {
            padding: 10px 10px 0 10px;

            #login, #register
            {
                position: relative;
            }
        }
        
        #aboutme p
        {
            color: @bluetext;
            padding: 20px 10px 70px 10px;
            margin: 0;
            font-size: 18px;
            line-height: 150%;
        }
    }
}

#footer
{
    position: relative;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    
    #navbar-footer
    {
        padding-left: 10px;
        font-weight: normal;
        
        ul
        {
            margin: 0;
            padding: 0;
        }        
        li
        {
            display: inline-block;
            padding-right: 20px;
        }
        a
        {
            color: @greytext;
            text-decoration: none;
        }
        a:visisted
        {
            color: @greytext;
            text-decoration: none;
        }
        a:hover
        {
            color: @greytext;
            text-decoration: underline;
        }
    }
    
    #copyright
    {
        position: absolute;
        padding-right: 10px;
        bottom: 0;
        right: 0;
        
        p
        {
            padding: 0;
            margin: 0;
            color: @lightgreytext;
        }
    }
}

hr
{
    border: 1px solid #808080;
}

form
{
    position: relative;
}

form div
{
    vertical-align: top;
}

label
{
    display: inline-block;
    width: 100px;
    margin: 2px 0px;
    vertical-align: top;
    
}

input
{
    margin: 2px 0px;
    width: 150px;
}

textarea
{
    width: 500px;
    height: 200px;
    margin: 2px 0px;
    border: 2px inset; 
}

#content .error
{
    color: @bluetext;
}

.category
{
    padding: 10px 0px;
    
    .category-title
    {
        color: @bluetext;
        font-size: 20px;
    }
    
    .category-subtitle
    {
        font-style: italic;
    }
}

form.delete
{
    border: 2px solid red;
    padding: 10px;
}

h1, h2, h3, h4, h5
{
    color: black;
}

a:link, a:visited, a:hover, a:active
{
    color: @bluetext;
    text-decoration: underline;
}