:root {
  -webkit-print-color-adjust: exact;
}

@import 'resume.less';

#resume
{
    //color: black;
    
    table
    {
        margin-bottom: 20px;
    }
    
    table:last-child
    {
        margin-bottom: 0px;
    }
    
    #resume-header
    {
        margin-bottom: 40px;
    }
}