@bluetext: #154168;
@greenbg: #93c35c;
@greentext: #b2d28b;
@linktext: #0087C8;


#resume
{
    
    a
    {
        color: @linktext;
    }
    
    font-family: 'Helvetica';
    vertical-align: middle;
    color: #6d6e71;
    border: 1px solid black;
    padding: 1.25em;
    margin: 1.25em auto;
    width: 56.25em;
    
    p
    {
        padding: 0;
        margin: 0;
    }
    
    table
    {
        width: 100%;
        margin-bottom: 3.125em;
    }
    
    table:last-child
    {
        margin-bottom: 0;
    }
    
    td
    {
        padding: 0.625em 0;
    }
    
    table tr td:first-child
    {
        padding-right: 0.625em;
    }
    
    table tr td:nth-child(2)
    {        
        padding-left: 0.625em;
        
        line-height: 1.5em;
    }
    
    .title, .subtitle
    {
        text-align: right;
        font-weight: bold;
    }
    
    .title
    {
        height: 1.538em;
        width: 10.385em;
        background-color: @greenbg;
        color: white;
        font-size: 1.625em;
        padding: 0 0;
    }
    
    .subtitle
    {
        vertical-align: top;
        color: @bluetext;
        font-size: 1.125em;
        text-transform: uppercase;
    }
    
    .slashes
    {
        color: @greentext;
        font-wight: bold;
    }
    
    .title:after
    {
        content: " //";
    }
    
    #resume-header
    {
        margin-bottom: 5.625em;
        height: 3.75em;
        
        td
        {
            padding: 0;
        }
        
        #firstname
        {
            padding-right: 0.25em;
            width: 6.75em;
        }
        
        #lastname
        {
            padding-left: 0.25em;
        }
        
        #firstname, #lastname
        {
            height: 1em;
            font-size: 2.5em;
        }
        
        #contact
        {
            text-align: right;
        }
        
        #website, #phone, #lastname
        {
            color: @bluetext;
            font-weight: bold;
        }
    }
    
    #objective
    {
        
        line-height: 140%;
        
        td:nth-child(2)
        {
            padding: 0 0 0 0.625em;
        }
    }
}