<div id="resume">
    <table id="resume-header">
        <tr>
            <td id="firstname" class="title">Alexander</td>
            <td id="lastname">Fisher</td>
            <td id="contact">
                <p><span id="address">Provo, Utah</span> <span class="slashes">//</span> <span id="phone">(404) 861-7207</span></p>
                <p><span id="email">mail@alexander-fisher.com</span> <span class="slashes">//</span> <span id="website">www.alexander-fisher.com</span></p>
            </td>
        </tr>
    </table>

    <table id="objective">
        <tr>
            <td class="title">Objective</td>
            <td>A programming position that is challenging and mentally stimulating, where pleasure results from the start of a work day rather than its end.</td>
        </tr>
    </table>

    <table id="skills">
        <tr>
            <td class="title">Skills</td><td></td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Languages</td>
            <td>C#, PHP, AS3, SQL, Doctrine DQL, Intermediate C++, XHTML, CSS, Javascript</td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Engines/Frameworks</td>
            <td>Unity, Unreal Development Kit, Symfony2, NodeJS</td>
        </tr>
        <tr class="skill">
            <td class="subtitle">Tools</td>
            <td>Photoshop, Github, Unix CLI</td>
        </tr>
    </table>

    <table id="education">
        <tr>
            <td class="title">Education</td><td></td>
        </tr>

        <tr class="school">
            <td class="subtitle">Aug 2007–Jun 2011</td>
            <td>
                <p>The Art Institute of Atlanta, Atlanta, Georgia</p>
                <p>Bachelors of Arts in Visual & Game Programming</p>
            </td>
        </tr>
    </table>

    <table class="experience">
        <tr>
            <td class="title">Related Experience</td><td></td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Apr 2012–Current</td>
            <td>
                <p>LIME Marketing  //  Provo, Utah</p>
                <p>Back End Web Developer using Symfony2, php, nodejs, and twig</p>
                <p><span class="slashes">//</span> Wrote back-end API for iOS app Meet Sync</p>
                <p><span class="slashes">//</span> Helped rewrite cake game server in node for the iPhone game, DeadDrop.</p>
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Sept 2011–Apr 2012</td>
            <td>
                <p>Georgia Tech Research Institute  //  Atlanta, Georgia</p>
                <p>Tech Temp: Focus on Serious Games built with Unity Engine and C#</p>
                <p><span class="slashes">//</span> Helped finish Cyber Warfare RTS game prototype for ITSEC conference.</p>
                <p><span class="slashes">//</span> Built Augmented Reality prototype for iOS and nanotube lab.</p>
                <p><span class="slashes">//</span> Built AI for learn a place demo.</p>
                <p><span class="slashes">//</span> Built prototype for hands on training which incorporated the Razer Hydra.</p>
            </td>
        </tr>

        <tr class="employer">
            <td class="subtitle">Feb 2011–Apr 2011</td>
            <td>
                <p>Thrust Interactive  //  Atlanta, Georgia</p>
                <p>Intern</p>
                <p><span class="slashes">//</span> Built a Melscript to prepare a generated rig for use inside the Unity Engine.</p>
                <p><span class="slashes">//</span> Skinned some of the models for their prototype strategy game.</p>
            </td>
        </tr>

        <tr class="additional">
            <td class="subtitle">Additional Work</td>
            <td>
                <p>All viewable in Demo Reel</p>
                <p><span class="slashes">//</span> The Buddy System: 2 player coop game prototype built around required teamwork.</p>
                <p><span class="slashes">//</span> Magnedude: Physics puzzle game prototype based on magnets.</p>
                <p><span class="slashes">//</span> Jun: Third person platforming game prototype. Made with Unreal Dev Kit.</p>
                <p><span class="slashes">//</span> Blockectomy: Falling puzzle game made with Actionscript 3. Released on Kongregate and Newgrounds.</p>
                <p><span class="slashes">//</span> Code Samples can be viewed at www.alexander-fisher.com/code-samples</p>
            </td>
        </tr>
    </table>
</div>
