/* 
    Document   : base
    Created on : Sep 22, 2012, 7:29:15 PM
    Author     : pixelshaded
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
    font-family: 'Exo', sans-serif;
}

#info-bar-container {
    background-color: #002133;
    padding: 12px 180px 12px 180px;
}

#info-bar {
    position: relative;
}

#namebar p {
    color: #0087c8;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 900;
    line-height: 90%;
    text-transform: uppercase;
}

#namebar p:last-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 136%;
}

#socialbar {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#navbar-container {
    background-color: #9f9f9f;
    font-size: 16px;
    padding: 0 180px 0 180px;
}

#navbar ul {
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    line-height: 45px;
    padding-right: 40px;
}

#navbar a:link {
    color: #333333;
    text-decoration: none;
} 
#navbar a:visited {
    color: #333333;
    text-decoration: none;
}

#navbar a:hover {
    color: #333333;
    font-weight: normal;
    text-decoration: underline;
}

#navbar a:active {
    color: #333333;
    text-decoration: none;
}

#wrapper {
    padding: 0 170px 0 170px;
}

#content {
    padding: 0 10px 0 10px;
}

#footer {
    position: relative;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
}

#navbar-footer {
    padding-left: 10px;
    font-weight: normal;
}

#navbar-footer ul {
    margin: 0;
    padding: 0;
}

#navbar-footer li {
    display: inline-block;
    padding-right: 20px;
}


#navbar-footer a
{
    color: #666666;
    text-decoration: none;
}
#navbar-footer a:visisted
{
    color: #666666;
    text-decoration: none;
}
#navbar-footer a:hover{
    color: #666666;
    text-decoration: underline;
}

#copyright {
    position: absolute;
    padding-right: 10px;
    bottom: 0;
    right: 0;
}

#copyright p {
    padding: 0;
    margin: 0;
    color: #b6b6b6;
}

hr {
    border: 1px solid #808080;
}

