{% extends '::base.html.twig' %}
{% block title %}New Gallery{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h1><a href="{{ path('admin_gallery_index') }}">Galleries</a> > Create</h1>

    <form action="{{ path('admin_gallery_new') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
</div>
{% endblock %}
