{% extends '::base.html.twig' %}
{% block title %}Contact Me{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div id="contactme">
        <p>You can reach me via email using the following form or via phone at (404) 861-7207</p>
        <div class="error">
            {% if errors %}<p>{{errors}}</p>{% endif %}
        </div>
        <form action="{{ path('fish_frontend_contact')}}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}
