{% extends '::base.html.twig' %}
{% block title %}Contact Me{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div id="contactme">
        <p>Thanks for contacting me! I should respond within the next 48 hours.</p>
    </div>
</div>
{% endblock %}