{% extends '::base.html.twig' %}
{% block title %}Demo Reel{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div id="demoreel">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/o2GS3TyQHDk" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
