{% extends '::base.html.twig' %}
{% block title %}Demo Reel{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div id="demoreel">
        <video width="720" height="540" controls>
            <source src="//ik.imagekit.io/pixelshaded/portfolio-site/demo-reel-take-five.mp4" type="video/mp4"/>
        </video>
    </div>
</div>
{% endblock %}
